$bg:  rgb(16, 16, 16);

.header{
    height: 100px;
    background-color:$bg;
    // box-shadow:inset 0px 190px 1000px  rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    padding: 0 2vw;
    box-sizing: border-box;
    justify-content: space-between;

    > img{
        height: 4.8vw;   
        cursor: pointer; 
    }

    >div{
        width: 100%;
        margin-left: 3vmax;

         a {
            margin: 1vw;
            font-size: 2vw;
            font-weight: 300;
        }
    }


    .search{
        display: flex;
        gap:4px;
    }
    input {
        height: 2vw;
        width: 12vw;
        border-radius: 5px;
        padding: 0 2px;
    }
    .icon{ 
    color:white;
    display: flex;
    font-size: 2.2vw;
    
   }

}
@media(max-width:650px) {
    .header{
        height: 80px;
        padding: 0 3vw;
    
         img{
            height: 6vw;   
        }
    
        div{
    
             a {
                font-size: 2.6vw;
                font-weight: 300;
            }
        }
    
    
        .search{
            display: flex;
            gap:4px;
        }
        input {
            height: 2.8vw;
            width: 13vw;
        }
    
    }
    
}
