$bg:  rgb(16, 16, 16);

.header{
    height: 100px;
    background-color:$bg;
    // box-shadow:inset 0px 190px 1000px  rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    padding: 0 2vw;
    box-sizing: border-box;
    justify-content: space-between;

    > img{
        height: 4.8vw;   
        cursor: pointer; 
    }

    .navRow{
        width: 100%;
        margin-left: 3vmax;

         a {
            margin: 1vw;
            font-size: 2vw;
            font-weight: 300;
        }
    }


    .search{
        display: flex;
        gap:4px;
    }
    input {
        height: 2vw;
        width: 12vw;
        border-radius: 5px;
        padding: 0 2px;
    }
    .icon1{ 
    color:white;
    display: flex;
    font-size: 2.2vw;    
   }
   .iconOpen{
    color: white;
    display: none;
   }
     .iconClose{
    color: white;
    display: none;
   }

}
@media(max-width:800px) {
    .header{
        height: 80px;
        padding: 0 3vw;
    
         img{
            height: 5.4vw;   
        }
    
        div{
    
             a {
                font-size: 2.5vw;
                font-weight: 300;
            }
        }
    
        input {
            height: 2.6vw;
            width: 14vw;
        }
    }
    
}

@media(max-width:600px){

    .header{
        height: 70px;
        padding: 0 6vw;
    
         img{
            height: 9vw;   
        }
        
        .navRow{
            display: none;
        }
        .navColumn{
            margin-top:265px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
             z-index: 99;
             margin-left:35px;
            
     
              a {
                height: 50px;
                width: 600%;
                background-color:rgba(0, 0, 0, 0.8);
                display: flex;
                justify-content: center;
                align-items: center;
                 margin:0;
                color:white;
                font-weight: 400;
                font-size: 3vw;
             }

        }
    
        input {
            height: 4vw;
            width: 24vw;
        }
        .icon1{
            font-size: 4.2vw;
            margin: 0 2vw;
           
        }
        .iconOpen{
            display: block;
            font-size: 5vw;
           }
        .iconClose{
            display:none;
           }
    }
    
}