.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:inset 0px 190px 1000px  rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100%;

  .signIn-form{
    height: 450px;
    width:  350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:20px 0; 
    background-color:rgba(0, 0, 0, 0.8);

    h2{
        font-size: 22px;
        color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
    }
    
      h1{
        color: white;
        font-size: 24px;
        font-weight: 600;
        margin: 20px 0;
        margin-left: 30px;
      }
       form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
        input{
        height: 40px;
        width: 275px;
        font-size: 14px;
        margin: 15px 0;
        border-radius: 5px;
        background-color: #333333; 
        padding:0 8px ;
        border: none;
        color: white;
        }
        p{
            color: red;
            font-weight: 200;
            letter-spacing: 1px;
        }
        button{
            height: 40px;
            width: 290px;
            background-color:#e50914;
            color: white;
            border: none;
            font-size:18px;
            font-weight: 500;
            border-radius: 5px;
           
            margin: 15px 0;
            cursor: pointer;
    
        }
       }
       .para{
           display: flex;
           justify-content: center;
           flex-direction: column;
           margin-top: 10px;
           width: 300px;
           margin-left: 30px;

        
        h3{
            color: #737373;
            font-weight: 400;
   
        span{
            color: white;
            font-weight: 400;
        }
        }
        p{
            color: #737373;
            margin-top: 20px;
            font-weight: 400;
            font-size: 14px;
        }
       }
    }
}
// .login-container{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     box-shadow:inset 0px 190px 1000px  rgba(0, 0, 0, 0.8);
//     height: 100vh;

//   .signIn-form{
//     height: 450px;
//     width:  400px;
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     padding:2.5vw 0; 
//     background-color:rgba(0, 0, 0, 0.8);

//     h2{
//         color: red;
//     }
    
//       h1{
//         color: white;
//         font-size: 2.2vw;
//         font-weight: 500;
//         margin-bottom: 0.8vw;
//         margin-left: 3.8vw;
//       }
//        form{
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         flex-direction: column;
    
//         input{
//         height: 3.5vw;
//         width: 20vw;
//         font-size: 1vw;
//         margin: 0.8vw 0;
//         border-radius: 5px;
//         background-color: #333333; 
//         padding:0 1vw ;
//         border: none;
//         color: white;
//         }
//         button{
//             height: 3.5vw;
//             width: 22vw;
//             background-color:#e50914;
//             color: white;
//             border: none;
//             font-size: 1.2vw;
//             font-weight: 600;
//             border-radius: 5px;
           
//             margin: 2vw 0vw;
//             cursor: pointer;
    
//         }
//        }
//        .para{
//            display: flex;
//            justify-content: center;
//            flex-direction: column;
//            margin-top: 2vw;
//            width: 24vw;
//            margin-left: 3.8vw;

        
//         h3{
//             color: #737373;
//             font-weight: 400;
//         }
//         span{
//             color: white;
//             font-weight: 400;
//         }
//         p{
//             color: #737373;
//             margin-top: 1vw;
//             font-weight: 400;
//             font-size: 1vw;
//         }
//        }
//     }
// }
